/*
=================================================================
    Breakpoints
=================================================================
*/
$mobile: 576px; 
$tablet: 992px;
$desktop: 1440px;
$hd: 1920px;

/*
=================================================================
    Fonts
=================================================================
*/
$font-heading: 'Poppins', sans-serif;
$font-body: 'Poppins', sans-serif;
$default-font-size: 16px;
$default-line-height: 24px;
$default-font-weight: 400;

/*
=================================================================
    Colors
=================================================================
*/
// primary
$sky-blue: #00A6D6;
$white: #FFF;
$black: #000;

// secondary
$blue: #0076C2;

// tertiary
$dim-grey: #666666;
$black-40: rgba(0, 0, 0, 0.4);
$stone-grey: #999999;
$silver: #E5E5E5;
$sea-salt: #FAFAFA;
$alice-blue: #EFF1F3;

$slate-grey: #6B818C;
$orange: #F7934C;
$mid-grey: #C0CAD0;

/*
=================================================================
    Grid
=================================================================
*/
$grid-columns-hd-screens: 12;
$grid-columns-desktop: 12;
$grid-columns-tablet: 12;
$grid-columns-mobile: 6;

/*
=================================================================
    Spacing
=================================================================
*/
// container
$container-padding-mobile: 24px;
$container-padding-tablet: 40px;
$container-padding-desktop: 108px;
$container-padding-hd-screens: 160px;
$container-max-width: 1600px;

// section
$section-margin-mobile: 80px;
$section-margin-tablet: 100px;
$section-margin-laptop: 120px;
$section-margin-desktop: 160px;

// gaps
$grid-column-gap-mobile: 8px;
$grid-column-gap-tablet: 16px;
$grid-column-gap-desktop: 16px;
$grid-column-gap-hd-screens: 24px;

// set all 8 grid spacings used in the design for margin and padding
$spacing: 16 24 40 56 72 80 152 216;
$directions: padding padding-top padding-right padding-bottom padding-left margin margin-top margin-right margin-bottom margin-left;
$directions-classname: p pt pr pb pl m mt mr mb ml;

// add desktop sizes and corresponding mobile sizes
$desktop-change: 32 40 56 80 120;
$mobile-change: 24 32 40 56 80;
// header
$header-height: 80px;


/*
=================================================================
    Transitions
=================================================================
*/
$transition-length: 0.75s;
$transition-timing-function: cubic-bezier(.19,1,.22,1);

/*
=================================================================
    Borders
=================================================================
*/
// $border-middle-grey: 1.5px solid $middle-grey;
// $border-blue: 1.5px solid $sky-blue;


