.hero {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	// height: calc(100vh - $header-height);
	height: 100vh;
	width: auto;
	display: flex;
	align-items: center;
	// transition: 0.5s;
    animation: showSection 0.5s ease-in both;

	&__title {

	}

	&__content {

	}

	&__buttons {
		display: flex;
		gap: 24px;
		@include max-screen($tablet) {
			flex-direction: column;
		}
	}
}