.pdf {

	&__title {

	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		&__title {

		}
		&__icon {
			width: 60px;
			height: auto;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		&__download {
			width: 40px;
			height: auto;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}